name: PR build

on: [push, pull_request]

jobs:
  ubuntu-build:

    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v2
     - name: Post release PR
       env:
        GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
       run: |
          git config user.name "MohamedSabthar"
          git config user.email "Sabtharugc0@gmail.com"
          curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
          bin/hub pull-request -m "[Automated] Sync master after "$VERSION" release"
