name: PR build

on: [push, pull_request]

jobs:
  ubuntu-build:

    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v2
     - name: Post release PR
       run: |
          echo "BUILD_USING_DOCKER=-PbuildUsingDocker=nightly" >> $GITHUB_ENV
          echo "$BUILD_USING_DOCKER"
          echo "GRADLE_SKIP_TASKS=-x :oracledb-compiler-plugin-tests:test"  >> $GITHUB_ENV
          echo "$GRADLE_SKIP_TASKS"
          echo "GRADLE_SKIP_TASKS=$GRADLE_SKIP_TASKS -x :oracledb-examples:buildExamples"  >> $GITHUB_ENV
          
          
     - name: test
       run: |
         echo "$BUILD_USING_DOCKER"
         echo "$GRADLE_SKIP_TASKS"
        
#        env:
#         GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
#        run: |
#           git config user.name "MohamedSabthar"
#           git config user.email "Sabtharugc0@gmail.com"
#           curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
#           GITHUB_USER=MohamedSabthar GITHUB_TOKEN=${{ secrets.PASS }} bin/hub pull-request --base main -m "[Automated] Sync master after "$VERSION" release"
